# Markdown Basics
## Heading 2
### Heading 3

To convert the code cell into markdown
- Select the cell
- Esc m<br>

To convert the code markdown to cell
- Select the cell
- Esc y <br>

To run the cell
- Shift + Enter (or)
- Alt + Enter

**Bold**<br>
*Italic*<br>
***Bold & Italic***

Unordered List
- Item 1
    - Sub List
- Item 2

Ordered List
1. Item 1
    1. Sub List
    2. Sub List2
    - Sub List3
2. Item 2

Blockquote<br>
`
if x == 10:
    print(True)
else:
    print(False)`

To get a Seperate Paragraph<br>
> Text Message

the sample math equation $e^{i\pi} + 1 = 0$ using latex

the sample math equation $$e^{i\pi} + 1 = 0$$ using latex

[Link](https://www.markdownguide.org/)

[Link2](https://www.google.com/)

![python logo](logo.png)

### Python

In [12]:
print('Python')
print('ML')

Python
ML

In [13]:
print(5 + 3)
print(5 - 3)
print(5 * 3)
print(5 ** 3)
print(5 // 3)
print(5 / 3)
print(5 % 3)

8
2
15
125
1
1.6666666666666667
2

In [14]:
print(5 + 3)
5 - 3

8

2

In [15]:
name = 'Vidhya'
print(name)
name

Vidhya

'Vidhya'

In [16]:
print(type(5))
print(type(4.5))
print(type(True))
print(type(name))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [17]:
type(name)

str

In [18]:
name2 = 5
type(name)

str

In [19]:
print(name2)

5

In [20]:
str(5)# Converts the integer into string

'5'

In [21]:
float(5)# Converts the integer into floating point

5.0

In [23]:
float('5.0')# Convert the string into floating poit number

5.0

Read an input from keyboard

In [3]:
n = int(input('Enter the number of items :'))
print(type(n),n)

Enter the number of items :10
<class 'int'> 10

In [4]:
p = float(input())
print(p)

13.5
13.5

In [5]:
total = p * n
print('Total amount spent = ',total)

Total amount spent =  135.0

#### syntax
`if condition:
     statement 1
     statement 2
 else:
     statement 3
     statement 4
 `

In [6]:
if total > 100:
    discount = 0.1 * total
    finalPrice = total - discount
else:
    finalPrice = total

In [7]:
print(finalPrice)

121.5

In [9]:
print(total >= 100)
print(total < 100)

True
False

In [10]:
finalPrice1 = total
if total > 100:
    discount = 0.1 * total
    finalPrice1 = finalPrice1 - discount

In [11]:
finalPrice1

121.5


 - 10% discount for greater than 100
 - 5% discount for total price 50 to 100
 - below 50 --> no discount

In [18]:
total = 75
finalPrice2 = total
if total >= 100:
    discount = 0.1 * total
    finalPrice2 = finalPrice2 - discount
elif (total > 50) and (total < 100):
    discount = 0.05 * total
    finalPrice2 = finalPrice2 - discount

In [19]:
finalPrice2

71.25

### Loops
- While loop
- For loop

### range() syntax

range(stop)<br>
range(start,stop)<br>
range(start,stop,step_size)

In [20]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [21]:
for i in range(10,16):
    print(i)

10
11
12
13
14
15

In [24]:
for i in range(10,20,3):
    print(i,end = ' ')

10 13 16 19

In [27]:
for i in range(10,0,-1):
    print(i,end = ' ')

10 9 8 7 6 5 4 3 2 1

In [28]:
for name in "machine learning":
    print(name,end = ',')

m,a,c,h,i,n,e, ,l,e,a,r,n,i,n,g,

In [29]:
print(name, i)

g 1

### While Syntax
`initialization
while condition :
    statement
    increment or decrement`

In [2]:
k = 0
while k < 10:
    print(k,end = ' ')
    k = k + 1

0 1 2 3 4 5 6 7 8 9

Write a program to generate even numbers with in the range 100 to 150(both values are exclusive)

In [3]:
for i in range(102,150,2):
    print(i,end =' ')

102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148

In [5]:
i =102
while i < 150:
    print(i,end = ' ')
    i = i + 2

102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148

In [1]:
i =101
while i < 150:
    if i % 2==0:
        print(i,end = ' ')
    i = i + 1

102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148

Write a program to read the no.of items, the reading should stop when the user enters zero<br>
Eg: 10<br>
    50<br>
    40<br>
    5<br>
    0

In [3]:
num = int(input('Enter number :'))
while num != 0:
    print(num)
    num = int(input('Enter number :'))

Enter number :5
5
Enter number :14
14
Enter number :0

Write a program to read the numbers from keyboard. If the number is multiple of 5 then skip the value, otherwise print the squareroot of the number.Stop the reading when user enter zero.<br>(Sqareroot --> **0.5)

In [4]:
4 ** 0.5

2.0

In [3]:
num = int(input('enter number '))
while num!=0:
    
    if num%5==0:
        num = int(input('enter number'))
        continue #here to skip calculate square root
    print(num**0.5)
    num = int(input('enter number'))

enter number 144
12.0
enter number169
13.0
enter number100
enter number0

### using for loop find name contains 'k' or not
we have `break` keyword to exit from loop
when you find 'k' stop the loop

In [9]:
name = 'laKshmi'
has = 'No'
for each in name:
    if each=='k' or each=='K':
        has = 'YES'
        break
print(has)

YES

##### membership operators
in , not in

In [11]:
print('K' in 'laKshmi')
print('k' not in 'laKshmi')

True
True

String Slicing

In [12]:
program = "Machine Learning"
print(len(program))

16

In [20]:
print(program[0]) #First char
print(program[8]) #ninth character
print(program[15]) # Last Charcter
print(program[-1]) # Last charcater with -ve index
print(program[-16]) # First charcater with -ve index

M
L
g
g
M

In [16]:
for i in range(len(program)):
    print(program[i],end=',')

M,a,c,h,i,n,e, ,L,e,a,r,n,i,n,g,

In [21]:
program[0:7]

'Machine'

In [22]:
program[:7] # get all the chars until 7th

'Machine'

In [23]:
program[7:] # From 8th charcter onwards

' Learning'

In [24]:
program[::2] # Alternate chars

'McieLann'

In [25]:
program[0:16:2]

'McieLann'

In [26]:
program[1::2]  # Alternate chars from 2nd

'ahn erig'

In [27]:
program[::-1]

'gninraeL enihcaM'