Topics
- Lists
- Tuples
- Dictionaries
- Functions

In [19]:
list1 = []# empty list
list2 = [2,20,30]
list3 = [3,'a','b',40,30.2,True]# Multiple data types

In [3]:
print(list3)
print(list2)
print(list1)

[3, 'a', 'b', 40, 30.2, True]
[2, 20, 30]
[]

In [5]:
print(type(list2))
print(type(list3))

<class 'list'>
<class 'list'>

In [10]:
print(list3[4])
print(list3[0:5])
#print(list3[6]) Error: List indices out of range

30.2
[3, 'a', 'b', 40, 30.2]

In [12]:
len(list3)# length of list3

6

In [20]:
print(list3)
type(list3[1])
list3[1] = 25
print(list3[1])
print(list3)

[3, 'a', 'b', 40, 30.2, True]
25
[3, 25, 'b', 40, 30.2, True]

In [21]:
list3[2] = 'Machine'
print(list3)

[3, 25, 'Machine', 40, 30.2, True]

In [23]:
list3[2][3]

'h'

In [29]:
list2[2] = list2[2] + 1
list2[1] = list2[1] + 1
list2

[2, 22, 33]

In [30]:
for i in list2:
    print(i)

2
22
33

In [33]:
for i in list2:
    i = i + 1
print(i)

34

In [40]:
for i in range(len(list2)):
    list2[i] += 1

In [41]:
print(list2)

[4, 24, 35]

In [44]:
list2 = list2 + [13,14]

In [46]:
list2 = 56

In [48]:
print(type(list2))
print(list2)

<class 'int'>
56

In [49]:
list2 = list2 + [13,14]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

### List Methods

In [50]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [62]:
list1[0] = 11

*Syntax:* list1.append(arg1)

In [63]:
# to add a single element in a list at a time
list1.append(11)

In [54]:
list1

[11]

In [55]:
list1.append([22,33])

In [64]:
list1

[11, [22, 33], 44, 55, 11]

*Syntax :* list1.extend(arg1)

In [67]:
# to add multiple elements
list1.extend([44,55])

In [68]:
list1

[11, [22, 33], 44, 55, 11, 44, 55, 44, 55]

In [61]:
print(list1[0])
print(list1[1])
print(list1[1][1])

11
[22, 33]
33

Syntax : list1.count(item)

In [76]:
# to count how many time the item or value occured
print(list1.count(44))
print(list1.count(22))
print(list1.count([22,33]))
print(list1.count(13))

3
0
1
0

Syntax : list1.pop()

In [74]:
# by default pop() removes the last element 
print(list1)
list1.pop()

[11, [22, 33], 44, 55, 11, 44, 55, 44, 55]

55

In [77]:
# remove the element with index 1 
list1.pop(1)

[22, 33]

In [81]:
list1.pop(13)

IndexError: pop index out of range

In [78]:
list1

[11, 44, 55, 11, 44, 55, 44]

In [79]:
list1.remove(44)# it removes 1st occurence of 44
print(list1)

[11, 55, 11, 44, 55, 44]

In [80]:
list1.remove(13)

ValueError: list.remove(x): x not in list

Syntax: list1.insert(index,value)

In [82]:
print(list1)
list1.insert(1,20)
print(list1)

[11, 55, 11, 44, 55, 44]
[11, 20, 55, 11, 44, 55, 44]

In [83]:
list1.insert(13,20)
print(list1)

[11, 20, 55, 11, 44, 55, 44, 20]

#### remove all 44 from list

In [89]:
numbers = [10,30,40,44,60,44,7,44]

item = 44
# find number of times item available
item_count = numbers.count(item)

# repeat remove how many times item available
for each in range(item_count):
    numbers.remove(item)
    
print(numbers)

[10, 30, 40, 60, 7]

#### Sorting

In [91]:
#Ascending Order
numbers = [10,30,40,44,60,44,7,44]
numbers.sort()
print(numbers)

[7, 10, 30, 40, 44, 44, 44, 60]

In [92]:
numbers = [10,30,40,44,60,44,7,44]
numbers.sort(reverse= True)
print(numbers)

[60, 44, 44, 44, 40, 30, 10, 7]

In [93]:
numbers.index(44)

1

In [94]:
numbers.index(100)

ValueError: 100 is not in list

In [95]:
print(min(numbers))
print(max(numbers))
print(sum(numbers))

7
60
279

In [96]:
sum(numbers) / len(numbers)

34.875

In [97]:
sum(numbers) // len(numbers)

34

In [100]:
empty_list =[]
empty_list1 =list()
print(empty_list)
print(empty_list1)

[]
[]

### Tuple
- Collection of items
- Immutable

In [101]:
t = (12,34,67)
print(type(t))
print(t)

<class 'tuple'>
(12, 34, 67)

In [104]:
print(t[0])
print(t[1])
print(t[0:2])

12
34
(12, 34)

In [105]:
t[0] = 78

TypeError: 'tuple' object does not support item assignment

In [107]:
t1 =(34,12,45)
sorted(t1)

[12, 34, 45]

In [108]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

### Dictionary
- Collection of items
- Key,value pairs

In [109]:
id_map = {'416':'Raj','523':'Ravi','A60':'Lakshmi'}
id_map

{'416': 'Raj', '523': 'Ravi', 'A60': 'Lakshmi'}

In [110]:
id_map['A60']

'Lakshmi'

In [111]:
id_map['416'] = 120
id_map

{'416': 120, '523': 'Ravi', 'A60': 'Lakshmi'}

In [112]:
id_map['416'] = 'Raj'
id_map

{'416': 'Raj', '523': 'Ravi', 'A60': 'Lakshmi'}

Dictionary with <br>
keys as Student Name<br>
Values are Marks in English,Math,Science<br>

In [113]:
studentMarks = { 'raj':[34,56,67],
    'Raghu':[45,65,89],'Rani':[78,67,24]
}

In [116]:
studentMarks['raj'][0]

34

In [117]:
for i in studentMarks:
    print(i)

raj
Raghu
Rani

In [118]:
for i in studentMarks:
    print(studentMarks[i])

[34, 56, 67]
[45, 65, 89]
[78, 67, 24]

In [119]:
for i in studentMarks:
    print(i,studentMarks[i])

raj [34, 56, 67]
Raghu [45, 65, 89]
Rani [78, 67, 24]

In [122]:
# [34,56,67,157]
#raj: [34, 56, 67,157]
#Raghu: [45, 65, 89,]
#Rani :[78, 67, 24]

In [124]:
L1 = [34, 56, 67]
#o/p L1 =[34,56,67,157]
# Caluculating sum
sum(L1)
# Append the sum to list
L1.append(sum(L1))

In [125]:
L1

[34, 56, 67, 157]

In [127]:
for student in studentMarks:
    studentMarks[student].append(\
                    sum(studentMarks[student]))

In [128]:
studentMarks

{'raj': [34, 56, 67, 157],
 'Raghu': [45, 65, 89, 199],
 'Rani': [78, 67, 24, 169]}

In [129]:
# Add new student details with marks 35,57,65,157 
# and key Latha
studentMarks['Latha'] = [35,57,65,157]
studentMarks

{'raj': [34, 56, 67, 157],
 'Raghu': [45, 65, 89, 199],
 'Rani': [78, 67, 24, 169],
 'Latha': [35, 57, 65, 157]}

In [130]:
studentMarks['Latha'] = [37,55,65,157]
studentMarks

{'raj': [34, 56, 67, 157],
 'Raghu': [45, 65, 89, 199],
 'Rani': [78, 67, 24, 169],
 'Latha': [37, 55, 65, 157]}

In [138]:
studentMarks['Tej'] = [50, 60, 89, 199]

In [139]:
# print the name of the student who has highest 
#total marks 
total = []
for student in studentMarks:
    total.append(studentMarks[student][3])
m = max(total)
for student in studentMarks:
    if studentMarks[student][3] == m:
        print(student)

Raghu
Tej

In [135]:
# If there are more than one student with highest 
# marks check their Maths score which is second 
# elemnt in the list.
# Then print the name of the student who has highest 
# marks in maths.

### User Defined Functions
- def is the keyword to define function
- Syntax<br>
`def func_Name(Param1,Param2,...):
    statement1
    statement2
    statement3
    return 
 `<br>
- Parameters and return values are optional. Depends on function requirement

In [140]:
def greet():
    print('Good Afternoon')

In [141]:
type(greet)

function

In [142]:
greet()

Good Afternoon

In [143]:
def greetWithName(name):
    print('Good Afetrnoon',name)

In [147]:
greetWithName('SVN')

Good Afetrnoon SVN

In [148]:
def greetWithFullName(firstName,lastName = 'SVEC'):
    print('Good Afternoon',firstName,lastName)

In [149]:
greetWithFullName('ML')

Good Afternoon ML SVEC

In [150]:
greetWithFullName('ML','Python')

Good Afternoon ML Python

In [151]:
print(greetWithFullName('ML','Python'))

Good Afternoon ML Python
None

In [152]:
def addition(a,b):
    return a + b

In [153]:
addition(20,30)

50

In [154]:
print(addition(20,30))

50

In [155]:
addition('abc','xyz')

'abcxyz'

In [156]:
addition('abc',5)

TypeError: can only concatenate str (not "int") to str

In [157]:
addition([20,30],[40,50])

[20, 30, 40, 50]

Define a function to check whether a number is multiple of 5 or not

In [158]:
def multpleOf5(num):
    if num % 5 == 0:
        return True
    return False

In [159]:
print(multpleOf5(25))
print(multpleOf5(26))

True
False

In [161]:
bool(103 % 5)

True

In [162]:
bool(105 % 5)

False

In [163]:
not bool(103 % 5)

False

In [164]:
bool(0)

False

In [165]:
bool(-1)

True

In [166]:
bool(1)

True

In [167]:
s1 = "AyYaPa bandi"
s2 = 'SuMaTHi GonuGUNta'
s3 = 'sri LalItHa'

In [ ]:
# output
#Firstname Lastname
# Ayyapa Bandi

In [169]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [170]:
help(str.casefold)

Help on method_descriptor:

casefold(self, /)
    Return a version of the string suitable for caseless comparisons.

In [171]:
help(str.split)

Help on method_descriptor:

split(self, /, sep=None, maxsplit=-1)
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [173]:
s1.casefold()

'ayyapa bandi'

In [181]:
s4 = s1.split()
print(s4[0].capitalize())

Ayyapa

In [185]:
print(s1.title())
print(s2.title())
print(s3.title())

Ayyapa Bandi
Sumathi Gonugunta
Sri Lalitha

Calculate the square of each element in the list

In [186]:
l1 = [2,3,5,7]
# Output
# l1 = [4,9,25,49]
for i in range(len(l1)):
    l1[i] = l1[i] ** 2
print(l1)

[4, 9, 25, 49]

### Map

In [188]:
def square(x):
    return x ** 2

In [189]:
l1 = [2,3,5,7]
list(map(square,l1))

[4, 9, 25, 49]

### Lambda
Syntax: lambda arg1,arg2.. : areg1 + arg2

In [190]:
list(  map(  lambda x : x ** 2, l1 )  )

[4, 9, 25, 49]

In [193]:
l1 = [20,30,40,50]
l2 = [1,2,3,4]
l3 = [1,1,1,1]
# Output
#[21,32,43,54]
list(map(lambda x,y,z : (x * y) + z * z, l1,l2,l3))

[21, 61, 121, 201]

### Filter
Syntax: filter(function,arg)

In [194]:
l4 = [35,44,27,25,12,4]
# Output: [44,12,4]

In [196]:
def even(num):
    if num % 2 == 0:
        return True
    return False
print(even(44))
print(even(45))

True
False

In [198]:
l4 = [35,44,27,25,12,4]
list(filter(even,l4))

[44, 12, 4]

### List Comprehensions

In [200]:
l1 = [20,30,40]
l2 = [x + 5 for x in l1]
print(l2)

[25, 35, 45]

In [201]:
l3 = [x + y for x in l1 for y in l2]
print(l3)

[45, 55, 65, 55, 65, 75, 65, 75, 85]

In [202]:
res = []
for x in l1:
    for y in l2:
        res.append(x+y)
print(res)

[45, 55, 65, 55, 65, 75, 65, 75, 85]

#### Dictionary comprehension
Syntax : 
   - {key:value for-loop condition}

In [204]:
d = {x:x**2 for x in range(1,10)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [206]:
d = {x : x**3 for x in range(1,10) if x % 2 == 0 }
print(d)

{2: 8, 4: 64, 6: 216, 8: 512}

#### dict.keys()
    - return all the keys in dict

In [207]:
d.keys()

dict_keys([2, 4, 6, 8])

### dict.values()
    to get all the values in dict

In [208]:
for i in d.values():
    print(i)

8
64
216
512

In [210]:
for key,value in d.items():
    print(key,'<--->',value)

2 <---> 8
4 <---> 64
6 <---> 216
8 <---> 512

In [211]:
for item in d.items():
    print(item)

(2, 8)
(4, 64)
(6, 216)
(8, 512)